body {
    padding-left: 10px;
    background-color: #E7DFD8;
}

.info {
    background-color: #5594c7;
}

#vendor-select {
    position: absolute;
    left: 70%;
    font-size: x-large;    
}

.column {
    float: left;
}

.left {
    width: 25%;
}

.middle {
    width: 40%;
}

.right {
    width: 29%;
}

button {
    width: 140px;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
 }